<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("button.get_more").click(function () {
                $.ajax({
                    dataType: "json",
                    url: "http://192.168.1.242:8642/get_more2",
                    type: "GET",
                    contentType: "json",
                    success: function (result) {
                        console.log(result);
                        alert("aa");
                    },
                    error: function () {
                        alert("failllllllllllllllllll");
                    }
                });
            });
        });
    </script>
</head>

<body>

<button class="get_more">Tăng Phạm Vi</button>
<% if(typeof motel_array != "undefined" && typeof  motel_array){ %>
<h1>Kết quả: <%= motel_array.length %> </h1>

<div class="here">
    <p>
        <% motel_array.forEach(function (motel) { %>
    </p>

    <p><%= motel %></p>

    <% }) %>
</div>
<% }else{ %>
<p>Nothing here.</p>
<% } %>
</body>
</html>